@model Books.Web.Models.BookCreateViewModel

<h1>Neues Buch anlegen</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Book.Title" class="control-label font-weight-bold"></label>
                <input asp-for="@Model.Book.Title" class="form-control" />
                <span asp-validation-for="@Model.Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Authors" class="control-label font-weight-bold"></label>
                <input asp-for="@Model.Book.Authors" class="form-control" />
                <span asp-validation-for="@Model.Book.Authors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Isbn" class="control-label font-weight-bold"></label>
                <input asp-for="@Model.Book.Isbn" class="form-control" />
                <span asp-validation-for="@Model.Book.Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Publisher_Id" class="control-label font-weight-bold"></label>
                <select asp-for="@Model.Book.Publisher_Id" asp-items="Model.Publishers" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="button-outline" />
            </div>
        </form>
    </div>
</div>


